.container {
    display: flex;
    height: 800px;
    justify-content: center;
    align-items: center;
}

.main-calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 640px;
    border: 10px solid black;
}



.inner-calculator-container {
    width: 480px;
    height: 620px;
    border: 10px solid grey;
}


.display-container {
    display: flex;
    flex: 1;
    height: 100px;
    padding-right: 20px;
    justify-content: flex-end;
    font-size: 90px;
    background-color: lightgrey;
    width: auto;
    border: 5px solid black;
    padding-bottom: 10px;
}

.first-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: auto;
}

.first-row > * {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    flex: 1;
    border: 1px solid black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 900px;
    background-color: rgb(0, 113, 247);
}

.operator {
    background-color: orange;
}

.second-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: auto;
}

.second-row > * {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    flex: 1;
    border: 1px solid black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 900px;
    background-color: hsl(180, 89%, 30%);
}

.operator {
    background-color: orange;
}

.third-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: auto;
}

.third-row > * {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    flex:1;
    border: 1px solid black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 900px;
    background-color: hsl(180, 89%, 30%);
}

.operator {
    background-color: orange;
}


.fourth-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: auto;
}

.fourth-row > * {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    padding: 5px;
    flex: 1;
    border: 1px solid black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 900px;
    background-color: hsl(180, 89%, 30%);
}

.operator {
    background-color: orange;
}

.fifth-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: auto;
}

.fifth-row > * {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    border: 1px solid black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 900px;
    flex: 1;
    background-color: hsl(180, 89%, 30%);
    padding: 1;
}

.fifth-row > #zero {
    flex: 2;
}

.fifth-row > #equal {
    background-color: orange;
}
